/* CABEÇALHO */

a {
    color: var(--branco);
    text-decoration: none;
    /* tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    /* alinha no sentido do flex */
    align-items: center;
    /*sentido contrario do flex*/
    padding: 0 120px;
    height: 10vh;
    /* 10vh -> 10% da visualização na vertical do dispositivo */
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /* transforma os textos em maiusculo */
    font-size: 1em;
    /* 1em equivale a 16 px */
    font-weight: 500;
    /* peso */
}

/* CONTEUDO PRINCIPAL */

/*primiero banner */
.banner-principal {
    color: var(--branco);
    height: 70vh;
    background-image: url(../imgs/banner-principal-home.png);
    /* url -> puxa uma imagem */
    background-size: cover;
    /* vai preencher todo o conteudo sem deformar */
    /* overflow: hidden;  evita que os elementos transbordem */

    display: flex;
    align-items: center;
    /* dixa os itens centralizados verticalmente */
    justify-content: space-between;
    padding: 0 120px;
    /* coloca a "margem" */
}

.texto-banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* deixa as coisas em colunas (uma em baixo da outra)  */
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.texto-banner p {
    font-size: 1.5em;
    /* 1,5 * 16px = 24px */
    width: 60%;
}

.botao {
    padding: 20px 50px;
    border-radius: 10px;
    background-color: var(--cor-destaque);
    color: var(--azul-escuro);
    font-size: 1, 2em;
    font-weight: 700;
    text-transform: uppercase;
}

.botao:hover

/* meche no botao somente quando o cursor estiver no botao */
    {
    background-color: #2ab2ab;
    color: var(--branco);
    /* cursor: pointer; /* deixa o cursor como uma maosinha quando o mouse passa por cima */
}

.banner-principal img {
    align-self: flex-end;
    /* alinha o proprio elemento ( no caso vai se alinhar na parte de baixo do pai dele */
    width: 35%;
}

/* Titulo das Seções */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1, 5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 3px;
    background-color: var(--cor-destaque);
}

/* seção beneficios */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;
    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    /* cima -> direita e esquerda -> enbaixo */

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;

    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /* eixo X -> eixo Y -> blur (deixar desfocada) -> cor com transparencia */

    text-align: center;

    position: relative;
    /* cria referencia de pocisionamento para o icone, quando o icone for pocisionado usa esse card como referencia. Sem isso, o circulo poderia usar outro elementos da pagina como referencia e sair passear pelo layout */
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);
    border-radius: 50%;

    width: 30%;
    height: 30%;

    /*retira o icone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* move o circulo para cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;
    /* coloca o começo do elemento em 50% da largura do card */
    left: 50%;

    /* ajustamos o pocisionamento do elemento mas a borda esquerda do circulo fica no centro, nao o circulo inteiro, por isso usamos o transform: translateX(-50%); que move o proprio circulo para a esquerda em 50% da largura dele, fazendo com que o circulo fique pereitamente centralizado*/
    transform: translateX(-50%);

    display: grid;
    place-items: center;
    /* aling-itens: center; é a mesma coisa que colocar: align-itens: center e justify-items: center; */
}

.beneficio h3
{
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase; /* coloca tudo em maiusculo */
    width: 90%;
}

.beneficio p
{
    font-size: 1em;
    width: 80%;
}

/*banner meio */
.banner-meio
{
    height: 60vh;
    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;
    /* background-repeat: no-repeat; */

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;

    color: var(--branco);
}

/* top livros recomendados */

.catalogo
{
    display: flex;
    padding: 100px 0;
    gap: 53px;
}

.recomendacao
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
}

.recomendacao h3
{
     text-transform: uppercase;
}

.recomendacao:nth-child(1) h3,
.recomendacao:nth-child(4) h3
{
    width: 74%;
}

.recomendacao:nth-child(3) h3
{
    width: 50%;
}

.recomendacao img
{
    height: 300px;
}

.recomendacao h3,
.recomendacao h4
{
    margin-top: 15%;
}

/* footer */

.footer
{
    background-color: var(--azul-escuro);
    color: var(--branco);
    height: 40vh;
}

.container
{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.informacoes-superiores
{
    display: flex;
    justify-content: space-between;
}

.logotipos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informacoes
{
    display: flex;
    justify-content: space-between;
}

.parte-superior div
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span
{
    height: 4px;
    width: 4px;
    background-color: #2ab2ab;
    background: #2ab2ab;
}