@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    --azul-escuro: #26333D;
    --texto: #26333D;
    --branco: #ffffff;
    --cor-destaque: #2FD6CB;
    --fundos: #e9f0ef;
    --textos-paginas: #535353
}

html
{
    scroll-behavior:smooth;
}

body
{
    font-family: "Montserrat", sans-serif;
    background-color: var(--branco);
    color: var(--texto);
}

/* CABEÇALHO */

a {
    color: var(--branco);
    text-decoration: none;
    /* tira o sublinhado do link */
}

.cabecalho {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    /* alinha no sentido do flex */
    align-items: center;
    /*sentido contrario do flex*/
    padding: 0 120px;
    height: 10vh;
    /* 10vh -> 10% da visualização na vertical do dispositivo */
}

.navegacao {
    display: flex;
    align-items: center;

    gap: 50px;
}

.navegacao a {
    text-transform: uppercase;
    /* transforma os textos em maiusculo */
    font-size: 1em;
    /* 1em equivale a 16 px */
    font-weight: 500;
    /* peso */
}